<h1><%= @user[:name] %></h1>
<p>Find me in app/views/users/show.html.erb</p>
<p><%= @user[:username] %></p>
<ul>
	<li>Location	: <%= @user[:location] %></li>
	<li>About		: <%= @user[:about] %></li>
</ul>
